body {
    background-color: powderblue;
}

.container {
    border: 2px solid green;
    width:100%;
    text-align:center;
}

.cardContainer {
    float:left;
    width:100px;
    border: 2px solid red;
}

.workContainer {
    display: inline-block;
    margin:0 auto;
    width:100px;
    border: 2px solid black;
}

#right {
    float:right;
    width:100px;
}

button {
    padding: 10px 30px;
}