body {
    background-color: powderblue;
}

.container {
    border: 2px solid green;
    width:100%;
    text-align:center;
}

.bankContainer {
    float:left;
    width:100px;
    border: 2px solid red;
    padding-left: 100px;
}

.workContainer {
    display: inline-block;
    margin:0 auto;
    width:100px;
    border: 2px solid black;
}

.laptopContainer {
    float:right;
    width:100px;
    border: 2px solid black;
    padding-right: 100px;
}

.buyLaptopContainer    {
    border: 2px solid black;
    padding-top: 20px;
}

#laptops {
    width: 150px;
}

button {
    padding: 10px 30px;
}